{% extends 'base.html' %}

{% block title %}Boutique - MyShop{% endblock %}

{% block content %}
<section class="page-header">
    <h1>Bienvenue dans la boutique</h1>
    <p>Découvrez nos produits disponibles.</p>
</section>

<section class="products-grid">
    {% for product in products %}
        <article class="product-card">
            <a href="{% url 'produit_detail' product.pk %}">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                    <div class="product-image-placeholder">
                        <span>Aucune image</span>
                    </div>
                {% endif %}
            </a>

            <div class="product-card-body">
                <p class="product-category">{{ product.category.name }}</p>

                <h2>
                    <a href="{% url 'produit_detail' product.pk %}">
                        {{ product.name }}
                    </a>
                </h2>

                <p class="product-description">
                    {{ product.description|truncatewords:14 }}
                </p>

                <div class="product-bottom">
                    <p class="product-price">{{ product.price }} FCFA</p>

                    {% if product.stock > 0 and product.is_available %}
                        <span class="product-stock">En stock</span>
                    {% else %}
                        <span class="product-out">Rupture</span>
                    {% endif %}
                </div>
            </div>
        </article>
    {% empty %}
        <p>Aucun produit disponible pour le moment.</p>
    {% endfor %}
</section>
{% endblock %}